<!DOCTYPE html>
<html>
	<head>
 	<title>Chart Demo</title>	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	
    </head>
    <style type="text/css">  
      #myChart,#legendDiv{
      	/*display: inline-block;*/
      	margin: 0 0 0 0;
      	float: left;
      }
      #radio{
      	margin: 30 auto;
      	clear: left;	
      }  
      
  	</style>
    <body onload="createChart({{dataFromServe}});">
    	<div id="containCanvas">
    		<canvas id="myChart" style="width:70%; height:60%; min-width:__px; min-height:__px"></canvas>
    	
    	    
    	</div>   
    	<div id="legendDiv"></div> 	 
    	<!-- s<h1>{{dataFromServe}}</h1> -->
    	<div id="radio">
    		<form>
    		<input type="radio" name="date" value="0" checked>All days
			<br>
			<input type="radio" name="date" value="19">April 19, 2015
			<br>
			<input type="radio" name="date" value="20">April 20, 2015
			<br>
			<input type="radio" name="date" value="21">April 21, 2015
			<br>
			<input type="radio" name="date" value="22">April 22, 2015
			<br>
			<input type="radio" name="date" value="23">April 23, 2015
			<br>
			<input type="radio" name="date" value="24">April 24, 2015
		</div>





	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
    
	   <script type="text/javascript">
	   		$(document).ready(function() {
	   			$('input[name="date"]:radio').change(function(e){
	   				var params = $('input[name=date]:checked').val();
	   				// alert(params);
	   				$.ajax({	        
					    url: '/api/beaconsbydateforline',
					    type: 'POST',
					    dataType: 'json',
					    async: false,
				        data: {
			        		date: params	        	
				        },				      
				        success: function(success) {
				        	resetCanvas();				            
				         	createChartByDay(success);
				        }
					});	
	   			});	
	   		});

			function createChartByDay(dataBeacon){

				var data = {
						labels: dataBeacon.label,
						datasets: [
									{
									 	label: "Gryffindor 1",
							            fillColor: "rgba(220,220,220,0)",
							            strokeColor: "rgba(220,220,220,1)",
							            pointColor: "rgba(220,220,220,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(220,220,220,1)",
										// data: [ 2, 78, 198, 431, 404, 10 ]
										data : dataBeacon.dataBeacon1
									},
									{
									 	label: "Hufflepuff 1",
							            fillColor: "rgba(234,255,0,0)",
							            strokeColor: "rgba(234,255,0,1)",
							            pointColor: "rgba(234,255,0,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(234,255,0,1)",
										// data: [ 22, 8, 58, 325, 154, 548 ]
										data : dataBeacon.dataBeacon2
									},
									{
									 	label: "Slytherin 1",
							            fillColor: "rgba(255,0,0,0)",
							            strokeColor: "rgba(255,0,0,1)",
							            pointColor: "rgba(255,0,0,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(255,0,0,1)",
										// data: [ 222, 88, 118, 165, 4, 111 ]
										data : dataBeacon.dataBeacon3
									},
									{
									 	label: "Ravenclaw 1",
							            fillColor: "rgba(0,226,231,0)",
							            strokeColor: "rgba(0,226,231,1)",
							            pointColor: "rgba(0,226,231,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(0,226,231,1)",
										// data: [ 100, 200, 580, 23, 74, 28 ]
										data : dataBeacon.dataBeacon4
									},
									{
									 	label: "Gryffindor 2",
							            fillColor: "rgba(0,10,204,0)",
							            strokeColor: "rgba(0,10,204,1)",
							            pointColor: "rgba(0,10,204,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(0,10,204,1)",
										// data: [ 35, 18, 512, 35, 54, 111 ]
										data : dataBeacon.dataBeacon5
									},
									{
									 	label: "Hufflepuff 2",
							            fillColor: "rgba(0,204,10,0)",
							            strokeColor: "rgba(0,204,10,1)",
							            pointColor: "rgba(0,204,10,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(0,204,10,1)",
										// data: [ 564, 98, 50, 125, 214, 74 ]
										data : dataBeacon.dataBeacon6
									},
									{
									 	label: "Slytherin 2",
							            fillColor: "rgba(120,0,204,0)",
							            strokeColor: "rgba(120,0,204,1)",
							            pointColor: "rgba(120,0,204,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(120,0,204,1)",
										// data: [ 294, 23, 428, 465, 54, 528 ]
										data : dataBeacon.dataBeacon7
									},
									{
									 	label: "Ravenclaw 2",
							            fillColor: "rgba(253,64,255,0)",
							            strokeColor: "rgba(253,64,255,1)",
							            pointColor: "rgba(253,64,255,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(253,64,255,1)",
										// data: [ 586, 81, 218,115, 224, 253 ]
										data : dataBeacon.dataBeacon8
									},
									{
									 	label: "Hogwarts",
							            fillColor: "rgba(134,66,0,0)",
							            strokeColor: "rgba(134,66,0,1)",
							            pointColor: "rgba(134,66,0,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(134,66,0,1)",
										// data: [ 357, 81, 159, 456, 654, 321 ]
										data : dataBeacon.dataBeacon9
									},
									{
									 	label: "Hermione",
							            fillColor: "rgba(100,126,255,0)",
							            strokeColor: "rgba(100,126,255,1)",
							            pointColor: "rgba(100,126,255,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(100,126,255,1)",
										// data: [ 756, 654, 444, 369, 15, 58 ]
										data : dataBeacon.dataBeacon10
									},
									{
									 	label: "Knight Bus",
							            fillColor: "rgba(76,139,14,0)",
							            strokeColor: "rgba(76,139,14,1)",
							            pointColor: "rgba(76,139,14,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(76,139,14,1)",
										// data: [ 555, 111, 38, 235, 434, 438 ]
										data : dataBeacon.dataBeacon11
									},
									{
									 	label: "Dumbledore",
							            fillColor: "rgba(255,168,0,0)",
							            strokeColor: "rgba(255,168,0,1)",
							            pointColor: "rgba(255,168,0,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(255,168,0,1)",
										// data: [ 212, 155, 528, 45, 312, 148 ]
										data : dataBeacon.dataBeacon12
									}
								] 
					}
					
				var options = {
	  				legendTemplate : 
	  					
	  					'<ol>'
	               	    +'<% for (var i=0; i<datasets.length; i++) { %>'
	                    +'<li>'
	                    +'<span style=\"font-weight: 900; font-size: 20pt; color:<%=datasets[i].pointColor%>\">'
	                    +'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
	                    +'</span>'
	                    +'</li>'
			            +'<% } %>'
			            +'</ol>'
			            
	 			}
				var cht = document.getElementById('myChart');
				var ctx = cht.getContext('2d');
				var lineChart = new Chart(ctx).Line(data, options);
				var legend = lineChart.generateLegend();
				document.getElementById("legendDiv").innerHTML = legend;

			}
			function createChart(dataFromServe) {
				var json =  JSON.stringify(dataFromServe);
				var dataBeacon = JSON.parse(json);
				var data = {
						labels: dataBeacon.label,
						datasets: [
									{
									 	label: "Gryffindor 1",
							            fillColor: "rgba(220,220,220,0)",
							            strokeColor: "rgba(220,220,220,1)",
							            pointColor: "rgba(220,220,220,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(220,220,220,1)",
										// data: [ 2, 78, 198, 431, 404, 10 ]
										data : dataBeacon.dataBeacon1
									},
									{
									 	label: "Hufflepuff 1",
							            fillColor: "rgba(234,255,0,0)",
							            strokeColor: "rgba(234,255,0,1)",
							            pointColor: "rgba(234,255,0,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(234,255,0,1)",
										// data: [ 22, 8, 58, 325, 154, 548 ]
										data : dataBeacon.dataBeacon2
									},
									{
									 	label: "Slytherin 1",
							            fillColor: "rgba(255,0,0,0)",
							            strokeColor: "rgba(255,0,0,1)",
							            pointColor: "rgba(255,0,0,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(255,0,0,1)",
										// data: [ 222, 88, 118, 165, 4, 111 ]
										data : dataBeacon.dataBeacon3
									},
									{
									 	label: "Ravenclaw 1",
							            fillColor: "rgba(0,226,231,0)",
							            strokeColor: "rgba(0,226,231,1)",
							            pointColor: "rgba(0,226,231,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(0,226,231,1)",
										// data: [ 100, 200, 580, 23, 74, 28 ]
										data : dataBeacon.dataBeacon4
									},
									{
									 	label: "Gryffindor 2",
							            fillColor: "rgba(0,10,204,0)",
							            strokeColor: "rgba(0,10,204,1)",
							            pointColor: "rgba(0,10,204,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(0,10,204,1)",
										// data: [ 35, 18, 512, 35, 54, 111 ]
										data : dataBeacon.dataBeacon5
									},
									{
									 	label: "Hufflepuff 2",
							            fillColor: "rgba(0,204,10,0)",
							            strokeColor: "rgba(0,204,10,1)",
							            pointColor: "rgba(0,204,10,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(0,204,10,1)",
										// data: [ 564, 98, 50, 125, 214, 74 ]
										data : dataBeacon.dataBeacon6
									},
									{
									 	label: "Slytherin 2",
							            fillColor: "rgba(120,0,204,0)",
							            strokeColor: "rgba(120,0,204,1)",
							            pointColor: "rgba(120,0,204,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(120,0,204,1)",
										// data: [ 294, 23, 428, 465, 54, 528 ]
										data : dataBeacon.dataBeacon7
									},
									{
									 	label: "Ravenclaw 2",
							            fillColor: "rgba(253,64,255,0)",
							            strokeColor: "rgba(253,64,255,1)",
							            pointColor: "rgba(253,64,255,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(253,64,255,1)",
										// data: [ 586, 81, 218,115, 224, 253 ]
										data : dataBeacon.dataBeacon8
									},
									{
									 	label: "Hogwarts",
							            fillColor: "rgba(134,66,0,0)",
							            strokeColor: "rgba(134,66,0,1)",
							            pointColor: "rgba(134,66,0,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(134,66,0,1)",
										// data: [ 357, 81, 159, 456, 654, 321 ]
										data : dataBeacon.dataBeacon9
									},
									{
									 	label: "Hermione",
							            fillColor: "rgba(100,126,255,0)",
							            strokeColor: "rgba(100,126,255,1)",
							            pointColor: "rgba(100,126,255,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(100,126,255,1)",
										// data: [ 756, 654, 444, 369, 15, 58 ]
										data : dataBeacon.dataBeacon10
									},
									{
									 	label: "Knight Bus",
							            fillColor: "rgba(76,139,14,0)",
							            strokeColor: "rgba(76,139,14,1)",
							            pointColor: "rgba(76,139,14,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(76,139,14,1)",
										// data: [ 555, 111, 38, 235, 434, 438 ]
										data : dataBeacon.dataBeacon11
									},
									{
									 	label: "Dumbledore",
							            fillColor: "rgba(255,168,0,0)",
							            strokeColor: "rgba(255,168,0,1)",
							            pointColor: "rgba(255,168,0,1)",
							            pointStrokeColor: "#fff",
							            pointHighlightFill: "#fff",
							            pointHighlightStroke: "rgba(255,168,0,1)",
										// data: [ 212, 155, 528, 45, 312, 148 ]
										data : dataBeacon.dataBeacon12
									}
								] 
					}
					
				var options = {
	  				legendTemplate : 
	  					
	  					'<ol>'
	               	    +'<% for (var i=0; i<datasets.length; i++) { %>'
	                    +'<li>'
	                    +'<span style=\"font-weight: 900; font-size: 20pt; color:<%=datasets[i].pointColor%>\">'
	                    +'<% if (datasets[i].label) { %><%= datasets[i].label %><% } %>'
	                    +'</span>'
	                    +'</li>'
			            +'<% } %>'
			            +'</ol>'
			            
	 			}
				var cht = document.getElementById('myChart');
				var ctx = cht.getContext('2d');
				var lineChart = new Chart(ctx).Line(data, options);
				var legend = lineChart.generateLegend();
				document.getElementById("legendDiv").innerHTML = legend;
			}
			function resetCanvas(){
				$('#myChart').remove();
				$('#containCanvas').append('<canvas id="myChart" style="width:70%; height:60%; min-width:__px; min-height:__px"></canvas>');
			}
		</script>
	</body>
</html>