<!DOCTYPE html>
<html>
	<head>
 	<title>Chart Demo</title>	
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.2/Chart.min.js"></script>
	
    </head>
    <body onload="createChart({{dataFromServe}});">
    	<canvas id="myChart" style="width:70%; height:60%; min-width:__px; min-height:__px"></canvas>
    	<!-- s<h1>{{dataFromServe}}</h1> -->

    </body>
   <script type="text/javascript">
		function createChart(dataFromServe) {
			var json =  JSON.stringify(dataFromServe);
			var dataBeacon = JSON.parse(json);
			var data = {
				labels: ["Beacon 1", "Beacon 2", "Beacon 3", "Beacon 4", "Beacon 5", "Beacon 6", "Beacon 7", "Beacon 8" ],
				datasets: [
							{
							fillColor: "rgba(225,0,0,1)",
							strokeColor: "rgba(225,0,0,1)",
							data: dataBeacon.data
							}
						] 
			}
			var cht = document.getElementById('myChart');
			var ctx = cht.getContext('2d');
			var barChart = new Chart(ctx).Bar(data);
		}
	</script>
</html>