<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beacon Treasure - Config Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <style type="text/css">  
      .container {
         margin: 50px auto;
      }
      .control-label{

      }   
  </style>
  <body>
      <div class="container">
     		<form class="form-horizontal" action="/api/editconfig" method="POST">

			  <div class="form-group">
				    <label for="repeattime" class="col-sm-5 control-label">Beacon revisiting time interval (minutes)</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="inputDistance" value="{{config.repeattime}}" name="repeattime">
				    </div>
			  </div>
			  <div class="form-group">
				    <label for="relaxtime" class="col-sm-5 control-label">Night time relaxing duration (from hour to hour)</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="inputRelaxtime" value="{{config.relaxtime}}" name="relaxtime">
				    </div>
			  </div>
			  <div class="form-group">
				    <label for="distance" class="col-sm-5 control-label">Distance (meter) to detect beacons</label>
				    <div class="col-sm-5">
				      <input type="text" class="form-control" id="inputDistance" value="{{config.distance}}" name="distance">
				    </div>
			  </div>

			  <div class="form-group">
				    <div class="col-sm-offset-5 col-sm-5">
				      <button type="button" name="update" class="btn btn-success">Update</button>
				    </div>
			  </div>
			   <div class="form-group">
				    <div class="col-sm-offset-5 col-sm-5">
				      <label for="error" class="control-label" style="color: #FF0000" >{{error}}</label>
				    </div>
			  </div>
			</form>

       
      </div>
    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	    

	    <script type="text/javascript">	  
	    	$(document).ready(function() {
				$('button[name=update]').click(function(e){
				    var repeattime = $('input[name="repeattime"]').val();
				    var relaxtime = $('input[name="relaxtime"]').val();
				    var distance = $('input[name="distance"]').val();
				    $.ajax({	        
					    url: '/api/editconfig',
					    type: 'POST',
					    dataType: 'json',
					    async: false,
				        data: {
			        	repeattime : repeattime,
						relaxtime : relaxtime,
						distance : distance			        	
				        },				      
				        success: function(success) {				            
				          if(success.status == 200){
				          	 	window.location ="./listbeacon";
				          	}
				        },
				      	error: function(error){
				          if(error.responseText == 'showAlert'){
				            	alert("All info could not be empty");	
				        	}
					    }	
					});			    
				});	  	 
			});			
	    		
		</script>	
  </body>

</html>