<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beacon Treasure</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <style type="text/css">  
      .container {
         margin: 50px auto;
      }
      .control-label{

      }   
  </style>
  <body>
      <div class="container">
     		<form class="form-horizontal" action="/api/editbeacon" method="POST">
			  <div class="form-group">
				    <label for="idNumber" class="col-sm-2 control-label">Id number (*)</label>
				    <div class="col-sm-10">
				      <input type="number" class="form-control" id="inputIdNumber" name="idnumber" value="{{beacon.idnumber}}">
				    </div>
			  </div>

			  <div class="form-group">
				    <label for="Major" class="col-sm-2 control-label">Major (*)</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="inputmajor" value="{{beacon.major}}" name="major">
				    </div>
			  </div>

			  <div class="form-group">
				    <label for="Minor" class="col-sm-2 control-label">Minor (*)</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="inputmajor" value="{{beacon.minor}}" name="minor">
				    </div>
			  </div>

			  <div class="form-group">
				    <label for="Name" class="col-sm-2 control-label">Name (*)</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="inputName" value="{{beacon.name}}" name="name">
				    </div>
			  </div>
				
			 <div class="form-group">
				    <label for="clue" class="col-sm-2 control-label">Clue (*)</label>
				    <div class="col-sm-10">
				      <textarea type="text" class="form-control" id="inputClue"rows="4" name="clue">{{beacon.clue}}</textarea>
				    </div>
			  </div>

			  <div class="form-group">
				    <label for="denpendency" class="col-sm-2 control-label">Dependency</label>
				    <div class="col-sm-10">
				      <input type="text" class="form-control" id="inputDependency" value="{{beacon.dependency}}" name="dependency">
				    </div>
			  </div>
			  <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <button type="button" name="update" class="btn btn-success">Update</button>
				    </div>
			  </div>
			   <div class="form-group">
				    <div class="col-sm-offset-2 col-sm-10">
				      <label for="error" class="control-label" style="color: #FF0000" >{{error}}</label>
				    </div>
			  </div>
			</form>

       
      </div>
    
	    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
	    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>	

	    <script type="text/javascript">	  
	    	$(document).ready(function() {
				$('button[name=update]').click(function(e){
				    var idnumber = $('input[name="idnumber"]').val();
				    var major = $('input[name="major"]').val();
				    var minor = $('input[name="minor"]').val();
				 	var name = $('input[name="name"]').val();
				 	var clue = $('textarea[name="clue"]').val();
					var dependency  = $('input[name="dependency"]').val();		    
				    $.ajax({	        
					    url: '/api/editbeacon',
					    type: 'POST',
					    dataType: 'json',
					    async: false,
				        data: {
			        	idnumber : idnumber,
						major : major,
						minor : minor,
						name : name,
						clue : clue,
						dependency : dependency			        	
				        },				      
				        success: function(success) {				            
				          if(success.status == 200){
				          	 	// redirect('/api/listbeacon');
				          	 	window.location ="../listbeacon";
				          	 	// alert("success");
				          	}
				        },
				      	error: function(error){
				          if(error.responseText == 'showAlert'){
				            	alert("Id number,Major,Minor,Name or Clue could not be empty");	
				        	}
					    }	
					});			    
				});	  	 
			});			
	    		
		</script>	
  </body>

</html>