<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beacon Treasure - Beacons</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <style type="text/css">  
      .container {
         margin: 50px auto;
      }   
      .form-inline button[type="submit"]{
        
      }
  </style>
  <body>
      <div class="container">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="active"><a href="#">List of Beacons</a></li>     
      </ul>
       <br> 
        <table  class="table table-bordered">
            <tr class="success">
              <th width="8%">Id Number</th>
              <th width="20%">Beacon Name</th>
              <th width="50%">Clue Text</th>
              <th width="15%">Dependency</th>
              <th width="7%" align="center">&nbsp;</th>
           </tr>
           {% for beacon in listbeacon %}
           <form action="/api/edit/{{beacon.idnumber}}">
             <tr>
                <td align="center">{{beacon.idnumber}}</td>
                <td>{{beacon.name}}</td>
                <td>{{beacon.clue}}</td>
                <td>{{beacon.dependency}}</td>
                <td align="center">
                  <button type="submit" class="btn btn-primary" >Edit</button>
                </td>
             </tr>
           </form>
           {% endfor %}
        </table>
 <!--          <form class="form-inline" role="form"  action="/api/resetdata" method="POST">
   <label>Short Name: </label>
   <input type="text" name="username" class="form-control" placeholder="Your short name">  
   <button type="submit" class="btn btn-primary">Reset Data</button> 
   <h4>{{error}}</h4>   
          </form> -->
        
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a href="/api/winners">List of Winners</a></li>     
		</ul>
		<br/>
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a href="/api/config">Config Data</a></li>     
		</ul>
		<br/>
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a target="blank" href="/resetdata">Reset User Data</a></li>     
		</ul>
    <br/>
    <ul class="nav nav-pills nav-justified" role="tablist">
      <li class="active"><a target="blank" href="/api/response">Turn on/off response</a></li>     
    </ul>
    <br/>
   <!--  <form id="myform" method="post" action="/api/beaconsbydateforline">
   <ul class="nav nav-pills nav-justified" role="tablist">
     <li class="active"><a onclick="document.getElementById('myform').submit();">Chart</a></li>     
   </ul>
   </form> -->
		</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>