<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beacon Treasure - Reset User Data</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <style type="text/css">  
      .container {
         margin: 50px auto;
      }   
      .form-inline button[type="submit"]{
        
      }
  </style>
  <body>
      <div class="container">
	<label>Please input a short name to reset his/her data: </label>
          <form class="form-inline" role="form"  action="/api/resetdata" method="POST">
             <label>Short Name: </label>
             <input type="text" name="username" class="form-control" placeholder="Your short name">  
             <button type="submit" class="btn btn-primary">Reset Data</button> 
             <h4>{{error}}</h4>   
          </form>
          <form class="form-inline" role="form"  action="/api/deletewinner" method="POST">
             <label>Short Name: </label>
             <input type="text" name="username" class="form-control" placeholder="Your short name">  
             <button type="submit" class="btn btn-primary">Delete Winner</button> 
             <h4>{{error1}}</h4>   
          </form>       
		</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>