<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beacon Treasure - History Tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <style type="text/css">  
      .container {
         margin: 50px auto;
      }   
      .form-inline button[type="submit"]{
        
      }
  </style>
  <body>
      <div class="container">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="active"><a href="#">History Tracking - User: {{username}}</a></li>     
      </ul>
       <br> 
        <table  class="table table-bordered">
            <tr class="success">
              <th width="15%">Beacon Id</th>
              <th width="35%">Beacon Name</th>
              <th width="50%">Visiting Timestamp</th>
           </tr>
		   {% if beacons.length == 0 %}
           <tr>
			  <td colspan="4">No history data found so far.</td>
           </tr>
		   {% endif %}
		   {% if beacons.length > 0 %}
           {% for beacon in beacons %}
		   {% if beacon.detectingcount.length > 0 %}
           {% for time in beacon.detectingcount %}
           <tr>
              <td>{{beacon.idnumber}}</td>
              <td>{{beacon.name}}</td>
              <td>{{time.toString()}}</td>
           </tr>
           {% endfor %}
		   {% endif %}
           {% endfor %}
		   {% endif %}
        </table>
        *The server time now is : {{ displayTime.toString() }} <br/><br/>

		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a href="/api/winners">List of Winners</a></li>     
		</ul>
		<br/>
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a target="blank" href="/resetdata">Reset User Data</a></li>     
		</ul>
		
		</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>