<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beacon Treasure - User Tracking</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <style type="text/css">  
      .container {
         margin: 50px auto;
      }   
      .form-inline button[type="submit"]{
        
      }
  </style>
  <body>
      <div class="container">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="active"><a href="#">List of Users</a></li>     
      </ul>
       <br> 
        <table  class="table table-bordered">
            <tr class="success">
			  <th width="5%">No.</th>
              <th width="10%">Name</th>
              <th width="30%">Facebook Id</th>
              <th width="15%">Beacons Found</th>
              <th width="40%">History Tracking</th>
             
           </tr>
		   {% if users.length == 0 %}
           <tr>
			  <td colspan="4">No user found so far.</td>
           </tr>
		   {% endif %}
		   {% if users.length > 0 %}
           {% for user in users %}
             <!-- {%if user.username.slice(-1) == " "%}
                <form action="/api/viewhistory/{{user.username.trim()}}%20" >
             {% endif %}
             {%if user.username.slice(-1) != " "%}
                <form action="/api/viewhistory/{{user.username}}" >
              {% endif %} -->
              <form action="/api/viewhistory/{{user.userId}}" >
           <tr>
      			  <td>{{ loop.index }}</td>
              <td>{{user.username}}</td>
              <td> <a href="http://www.facebook.com/{{user.userId}}">{{user.userId}}</a></td>
              <td>
                {{user.beaconFound}}
                <!-- {{beaconFound[loop.index -1]}} -->
              </td>
      			  <td>
      				  <button type="submit" class="btn btn-primary" >View</button>
      			  </td>
             
        
           </tr>
           </form>
           {% endfor %}
		   {% endif %}
        </table>

		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a href="/api/listbeacon">List of Beacons</a></li>     
		</ul>
		<br/>
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a target="blank" href="/resetdata">Reset User Data</a></li>     
		</ul>
		
		</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>