<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Beacon Treasure - Winners</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  </head>
  <style type="text/css">  
      .container {
         margin: 50px auto;
      }   
      .form-inline button[type="submit"]{
        
      }
  </style>
  <body>
      <div class="container">
      <ul class="nav nav-pills nav-justified" role="tablist">
        <li class="active"><a href="#">List of Winners</a></li>     
      </ul>
       <br> 
        <table  class="table table-bordered">
            <tr class="success">
			        <th width="5%">No.</th>
              <th width="10%">Name</th>
              <th width="30%">Facebook Id</th>
              <th width="40%">Completion Timestamp</th>
              <th width="15%">History Tracking</th>
           </tr>
		   {% if winners.length == 0 %}
           <tr>
			  <td colspan="4">No winner found so far.</td>
           </tr>
		   {% endif %}
		   {% if winners.length > 0 %}
           {% for winner in winners %}
           <form action="/api/viewhistory/{{winner.userId}}" >
           <tr>
			        <td>{{ loop.index }}</td>
              <td>{{winner.username}}</td>
               <td> <a href="http://www.facebook.com/{{winner.userId}}">{{winner.userId}}</a></td>
              <td>{{winner.date}}</td>
			  <td align="center">
				<button type="submit" class="btn btn-primary" >View</button>
			  </td>
           </tr>
           </form>
           {% endfor %}
		   {% endif %}
        </table>
        *The server time now is : {{ displayTime.toString() }} <br/><br/>

		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a href="/api/listbeacon">List of Beacons</a></li>     
		</ul>
		<br/>
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a target="blank" href="/usertracking">User Tracking</a></li>     
		</ul>
		<br/>
		<ul class="nav nav-pills nav-justified" role="tablist">
			<li class="active"><a target="blank" href="/resetdata">Reset User Data</a></li>     
		</ul>
		
		</div>
    
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.2.0/js/bootstrap.min.js"></script>
  </body>

</html>